
   <div class="row">
    <h4> Liste des appareils</h4>
    <ul class="collection">
  
      <app-appareil *ngFor = "let appareil of appareils, let i = index" 
                    [name] = "appareil.nom" 
                    [status] = "appareil.statut" 
                    [index] = "i"
                    [id] = "appareil.id"
                    [emprunterId] = "appareil.emprunterId"
                    [vrainom] = "appareil.vrainom"></app-appareil>

    </ul>
  
     
  <div class="row" *ngIf="getAuth()">
      <button class="btn green" (click)="onToutEmprunter()"> Tout Emprunter </button>
      &nbsp;
      <button class="btn red" (click)="onToutRendre()"> Tout Rendre </button>
  </div>




</div> 


          

