<h4>Ajouter un appareil : </h4>
<br/>

<div class="row">
    <div class="col s8 m8 offset-s2 offset-m2">

      <form (ngSubmit)="onSubmit(formulaire)" #formulaire="ngForm">

        <div class="row">
          <label for="name">Nom de l'appareil</label>
          <input type="text" id="name" class="validate" name="name" ngModel>
        </div>

        <div class="row">
            <label for="vrainom">Vrai nom de l'appareil</label>
            <input type="text" id="vrainom" class="validate" name="vrainom" ngModel>
          </div>

        <div class="row">
          <legend for="statut"> Statut : </legend>
          <select required class = "browser-default" id="statut" name="statut" ngModel>
              <option value="" disabled selected>Choisir...</option>
              <option value="1">Disponible</option>
              <option value="0">Emprunté </option>
          </select>
        </div>
         
        
        
        <button type="submit" class="btn" [disabled] = "formulaire.invalid" >Enregistrer</button>
      </form>

    </div>
  </div>